
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-foreground:      #FFC72C;
$color-background:      #0F4C81;
$color-link:            #FAFAFA;

//== Grid

$max_col: 12;
