//== Font

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-height: 1.5;

//== Color

$color-foreground: #ba5f27;
$color-background: #ffffff;
$color-link: #1ada1a;
$color-primary-grey: #f5f5f5;

//== Grid

$max_col: 12;
